<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.webServer>
	<!-- Counter-intuitively this needs to be FALSE so IIS can let go of websockets and node can take over. -->
    <webSocket enabled="false" />
    <handlers>
        <add name="iisnode" path="server.js" verb="*" modules="iisnode"/>
    </handlers>
	<rewrite>
      <rules>    
		<rule name="staticcontent">
          <action type="rewrite" url="public{request_uri}"/>
        </rule>
        <rule name="dynamiccontent">
          <conditions>
            <add input="{request_filename}" matchtype="isfile" negate="true"/>
          </conditions>
          <action type="rewrite" url="server.js"/>
        </rule>	  
      </rules>
    </rewrite>
    <!-- 'bin' directory has no special meaning in node.js and apps can be placed in it -->
    <security>
      <requestFiltering>
        <hiddenSegments>
          <remove segment="bin"/>
        </hiddenSegments>
      </requestFiltering>
    </security>

     <!-- Make sure error responses are left untouched -->
    <httpErrors existingResponse="PassThrough" />
	</system.webServer>
</configuration>